:root {
    --night: #121212;
    --gunmetal-gray: #252525;
    --jet-gray: #363636;
    --mid-gray: #8B8B8B;
    --french-gray: #D1D5DB;
    --light-gray: #E0E0E0;
    --light-white: #F2F2F2;
    --space-cadet-blue: #202b6f;
    --light-blue: #50aaff;
    --gunmetal-blue: #26303D;
    --lion: #B3926B;
    --gold: #d59952;
    --light-gold: #ffb863;
    --red: #d25f5f;
    --light-red: #ff5050;
    --success: #5fd285;
}