.mainContainer{
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.contentContainer .galleryContainer{
    width: 60%;
    height: 100%;
    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contentContainer .galleryContainer .swipper{
    width: 100%;
    height: 600px;

    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer .galleryContainer .imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    object-fit: cover;
}

.contentContainer .galleryContainer .galleryImage{
    width: 100%;
    object-fit: cover;
}

.contentContainer .infoContainer{
    position: relative;
    width: 40%;
    height: 100%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.contentContainer .infoContainer span{
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    color: var(--mid-gray);
}

.contentContainer .infoContainer .configCarTitle span:last-child{
    font-weight: bold;
    color: var(--lion);
}

.contentContainer .infoContainer .configCarOption{
    background-color: color-mix(in srgb, var(--mid-gray) 20%, transparent);
    padding: .5rem;

    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 1px solid var(--mid-gray);
    border-radius: .5rem;
}

.contentContainer .infoContainer .configCarOption span{
    font-size: 1.2rem;
}

.contentContainer .infoContainer .colorSelector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contentContainer .infoContainer .colorSelector .colorOption{
    width: 25px;
    height: 25px;
    background-color: #000;

    border: 1px solid var(--mid-gray);
    border-radius: 100%;

    cursor: pointer;
}

/* Payment Section */

.buttonContainer{
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 150px;
    background-color: #2C2E2F;

    overflow: hidden;

    border-radius: .5rem .5rem 0 0;
}

.buttonContainer .paymentButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    object-fit: fill;
    cursor: pointer;
}

.buttonContainer .paymentButton span{
    margin-top: 1rem;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--light-gray);
}

.buttonContainer .paymentButton .iconContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.buttonContainer .paymentButton .iconContainer svg{
    font-size: 3rem;
    color: var(--light-gray);
}